.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  min-width: 20rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0;
  font-size: 1.5rem;
}

.card p {
  margin: 1rem 0 0 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 1050px) {
  .card {
    margin: 0.8rem 0;
    width: 85%;
  }
}