@value colors: "../../styles/colors.css";
@value blue from colors;
@value orange from colors;

.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  flex-basis: 45%;
  padding: 1.5rem;
  min-width: 20rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  margin: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: all 0.45s ease-out;
  user-select: none;
}

.underline {
  width: 100%;
  height: 5px;
  margin-top: 10px;
  align-self: flex-end;
  left: -100%;
  background: orange;
  position: absolute;
  transition: all 0.3s ease-out;
  bottom: 0;
}

.card:focus,
.card:active,
.card:hover .underline {
  left: 0;
}

.card h3 {
  margin: 0;
  font-size: 1.5rem;
}

.card p {
  margin: 1rem 0 0 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 1050px) {
  .card {
    margin: 0.8rem 0;
    width: 85%;
  }
}
