@value colors: "../../styles/colors.css";
@value blue from colors;
@value orange from colors;

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  min-width: 20rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: ease 0.15s;
}

.card:focus,
.card:active,
.card:hover {
  color: orange;
  border-color: orange;
  background-color: white;
  box-shadow: inset 0 0 0 2px orange, inset 0 100px 0 0 white, inset 0 100px 0 0 orange;
}

.card h3 {
  margin: 0;
  font-size: 1.5rem;
}

.card p {
  margin: 1rem 0 0 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 1050px) {
  .card {
    margin: 0.8rem 0;
    width: 85%;
  }
}
