@value colors: "../../styles/colors.css";
@value purple from colors;

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  min-width: 20rem;
  text-align: left;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-image: linear-gradient(to right, blueviolet 0%, purple 51%, purple  100%);
}

.card:hover,
.card:focus,
.card:active {
  background-image: linear-gradient(to left, blueviolet 0%);
  --tw-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.1), 0 4px 6px 5px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.card h3 {
  margin: 0;
  font-size: 1.5rem;
}

.card p {
  margin: 1rem 0 0 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 1050px) {
  .card {
    margin: 0.8rem 0;
    width: 85%;
  }
}