<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>404</title>
    <link rel="stylesheet" href="/assets/app.css" />
    <script defer type="text/javascript" src="/assets/app.js">
    </script>
  </head>
  <body>
    <main class="my-60 flex-auto">
      <section class="flex w-full flex-col items-center justify-center">
        <a href="/" class="items-center justify-center">
          <img class="my-5 w-40" src="/images/cesium.svg" alt="cesium-logo" />
        </a>
        <p class="text-center text-5xl font-medium">
          404 Page Not Found
        </p>
        <p class="my-3 text-center text-2xl">Oops! Looks like you are lost.</p>
        <p class="my-5 text-center text-lg">Click on the logo to return home</p>
      </section>
    </main>
  </body>
</html>
