<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>404</title>
    <link rel="stylesheet" href="/assets/app.css"/>
    <script defer type="text/javascript" src="/assets/app.js"></script>
  </head>
  <body>
    <main class="flex-auto my-60">
      <section class="justify-center flex flex-col items-center w-full">
        <a href="/" class="items-center justify-center">
          <img class="w-40 my-5" src="/images/cesium.svg" alt="Cesium-Logo"/>
        </a>
        <p class = "text-center font-medium text-5xl">
          404 Page not found
        </p>
        <p class = "text-center my-3 text-2xl">Oops! Looks like you are lost.</p>
        <p class = "text-center my-5 text-lg">Click on the logo to turn back.</p>
      </section>
    </main>
  </body> 
</html> 