@value colors: "../../styles/colors.css";
@value purple from colors;
@value dark from colors;

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: dark;
  font-size: 1rem;
}

@media (min-width: 1050px) {
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
  }
}

.social {
  margin: 0.75em;
}

.social a {
  display: inline;
  margin: 10px;
}

.footer a:hover {
  color: purple;
}

.social a:hover {
  color: purple;
}

.copyright {
}

.heart {
  margin: 0 0.2em;
  color: purple;
}
